.button{
    margin: 0 0 15vh 0;
    background-color: var(--color-green);
    border: none;
    border-radius: 20px;
    color: white;
    width: 100%;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}