.productContainer{
    
    width: 80vw;
    padding: 1em;
    background-color: #EFF4F8;
    border: 2px solid white;
    box-shadow: 0 6px 6px #EBEBEB;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    
}



.productImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.detailContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details h3 {
    font-size: 1.4em;
    font-weight: 700;
}


.prices p {
    font-size: 2.25em;
    font-weight: 700;
    color: var(--color-green);
    margin: 2vh 0;
    text-align: center;

}

.prices s {
    font-size: 1em;
    font-weight: 600;
}

.detailsSecond {
    display: flex;
    gap: 1em;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    font-size: 0.75em;
    margin-top: 2vh;
}


.orderBtn {
    background-color: var(--color-green);
    border: none;
    border-radius: 20px;
    color: white;
    width: 100%;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
}

@media only screen and (min-width: 1024px) {

    .product {
        width: 350px;
    }

    .productImg {
        width: 350px;
    }


}