

.footer {
    background-color: var(--color-green);
    height: 243px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social {

    margin-top: 37px;
    display: flex;
    justify-content: center;

}

.icon {
    color: white;
    font-size: clamp(2.5rem, 4.5vw, 2rem);
    margin: 0 10px;
}

.icon:hover{
    transition: all 0.2s ease-in-out;
    color: var(--green-color);
    cursor: pointer;
    
}


.copyright {
   
    margin: 37px 0;

}

.copyright p{

    display: block;
    text-align: center;
    font-size: 13px;
    margin: 5px 0;
    color: black;
    
}



